/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px; 
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

#weatherForm {
  margin-top: 10%;
  display: flex;
}

.weatherInfo {
  display: flex;
  justify-content: space-between;
}

.top-left {
  margin: 5% 0 0 5%;
}

.top-right {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: right;
  margin: 5% 5% 0 0;
}

#icon {
  width: 80px;
  height: 80px;
}

#location {
  font-size:  2.5rem;
  font-weight: bold;
}

#locationInput {
  font-size: 1rem;
  height: 25px;
  color: white;
  background-color: transparent;
  margin-top: 5%;
  border-top: none;
  border-right: none;
  border-left: none;
}

#weatherButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentTime {
  margin-bottom: 5%;
}

#searchButton {
  height: 25px;
}

#temperature {
  font-size: 3rem;
  font-weight: bold;
}

#description {
  font-weight: bold;
}

.weather-icon {
  display: flex;
  justify-content: end;
  gap: 10px;
  font-size: 8px;
}

.weather-icon img {
  width: 20px;
  height: 20px;
}

input[type="radio"] {
  display: none;
}

.hourly-forecast {
display: none;
}

.seven-day-forecast {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 5%;
}

.forecast-day {
  text-align: center;
}

#humidityLabel, #windSpeedLabel, 
#feelsLikeLabel, #uvIndexLabel,
#rainLabel, #snowLabel, .low-temperature {
  font-size: 1rem;
}

#humidityValue, #windSpeedValue, 
#feelsLikeValue, #uvIndexValue,
#rainValue, #snowValue, .high-temperature {
  font-size: 1.8rem;
  font-weight: bold;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media query for tablets (768px width) */
@media screen and (max-width: 810px) {
  .circles li {
    width: 5%; /* Adjust the width for smaller screens */
  }
  .top-left {
    margin: 6% 0 0 6%;
  }
  
  .top-right {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: right;
    margin: 6% 6% 0 0;
  }

  .seven-day-forecast {
    display: flex;
    justify-content: space-between;
    margin: 0 6% 6%;
    max-width: 100%; /* Ensure it reaches the max width of the main container */
  }

  .main-container {
    justify-content: space-around;
  }
  
}

/* Media query for cell phones (480px width) */
@media screen and (max-width: 480px) {
  .circles li {
    width: 10%; /* Adjust the width for smaller screens */
  }


  #humidityLabel, #windSpeedLabel, 
  #feelsLikeLabel, #uvIndexLabel,
  #rainLabel, #snowLabel {
  font-size: 0.8rem;
  }

  #humidityValue, #windSpeedValue, 
  #feelsLikeValue, #uvIndexValue,
  #rainValue, #snowValue {
  font-size: 1.4rem;
  font-weight: bold;
  }

  .high-temperature {
    font-size: 1rem;
  }

  .low-temperature {
    font-size: 0.8rem;
  }

  #temperature {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #location {
    font-size:  2.5rem;
    font-weight: bold;
  }

  #locationInput {
    font-size: 0.8rem;
  }

  #forecast-content {
    display: flex;
    flex-direction: column;
  }

  .weather-icon img {
    width: 15px;
    height: 15px;
  }

  .forecast-day-icon img {
    width: 50px;
    height: 50px
  }

}
