/* Reset margin and padding for all elements */
body, h1, h2, p, div, img, form, input, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

#weatherForm {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.weatherInfo {
  display: flex;
  justify-content: space-between;
}

.top-left {
  padding: 5%;
}

.top-right {
  text-align: right;
  padding: 5%;
}

#icon {
  width: 80px;
  height: 80px;
}

#location {
  font-size:  2rem;
  font-weight: bold;
}

#locationInput {
  height: 25px;
}

#weatherButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchButton {
  height: 25px;
}

#temperature {
  font-size: 3rem;
  font-weight: bold;
}

#description {
  font-weight: bold;
}

/* Styling for forecast toggle buttons */
input[type="radio"] {
  display: none; /* Hide the default radio buttons */
}

label {
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Styling for the selected radio button label */
input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.forecast-toggle {
  padding: 5%;
}

/* Styling for the forecast content */
.hourly-forecast {
  display: none;
  margin-top: 20px;
  align-items: center;
  height: 120px;
  overflow-x: auto;
  width: 100%;
}

/* Show the hourly forecast when the "show-hourly" class is present */
.show-hourly .hourly-forecast {
  display: flex;
}

/* Hide the daily forecast when the "show-hourly" class is present */
.show-hourly .seven-day-forecast {
  display: none;
}

.hourly-forecast-item {
  flex: 0 0 calc(100% / 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hourly-forecast-item img {
  width: 40px;
  height: auto;
}

.seven-day-forecast {
  display: flex;
  height: 120px;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  margin-top: 20px;
}

.forecast-day {
  flex: 0 0 calc(100% / 8);
  text-align: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#humidityLabel, #windSpeedLabel, 
#feelsLikeLabel, #uvIndexLabel,
#rainLabel, #snowLabel {
  font-size: 0.8rem;
}

#humidityValue, #windSpeedValue, 
#feelsLikeValue, #uvIndexValue,
#rainValue, #snowValue {
  font-size: 1.6rem;
  font-weight: bold;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media query for tablets (768px width) */
@media screen and (max-width: 768px) {
  body {
    padding: 3%;
  }
}

/* Media query for cell phones (480px width) */
@media screen and (max-width: 480px) {
  body {
    padding: 2%;
  }
}
